@{
    ViewBag.Title = "Про проект";
}

<!-- ABOUT MIDDLE -->
<div class="content">
    <div class="aboutCont">
        <p>
            Ви хочете зробити щось цікаве і масштабне? У вас є цікава ідея, але ви розумієте, що самотужки ви не зможете її реалізувати? 
        </p>
        <p>
            <b>Find With Whom</b> – це місце, де ви можете шукати людей, з якими можна зайнятись спільною справою. Залишайте свої оголошення щодо вашого заняття. Це може бути будь-що, що можна робити разом: проект комп’ютерної гри, спільний бізнес, гра у музичній групі, масові заходи, туристичний похід – будь-що. 
        </p>
        <p>
            Або ж шукайте цікаве вам заняття за допомогою пошуку. Натрапивши на оголошеня, яке вас зацікавило, ви можете підписатись на нього. 
        </p>
        <p>
            Успіхів у пошуках.
        </p>
        <div style="text-align:right;padding:5px 0;">З найкращими побажаннями, адміністрація fww.</div>
    </div>
</div>