@{
    ViewBag.Title = "Sent";
}

<div class="content">
    <p style="text-align:center; font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size:12px;">The message has been sent.</p>

    <p style="text-align:center; font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size:12px;">
        <a href="Ads/No/">Click here to get back to the ad</a>
    </p>
</div>

